Source: qtaseman
Section: libs
Priority: optional
Maintainer: Aseman Team <contact@aseman.io>
Build-Depends:
 debhelper (>= 8.0.0),
 g++ (>= 4:4.7),
 gcc (>= 4:4.7),
 qtbase5-dev (>= 5.9.0),
 libqt5sql5-sqlite (>= 5.9.0),
 libqt5multimediaquick5 (>= 5.9.0),
 libqt5multimedia5-plugins (>= 5.9.0),
 libqt5multimedia5 (>= 5.9.0),
 qtpositioning5-dev (>= 5.9.0),
 libqt5sensors5-dev (>= 5.9.0),
 qtchooser,
 qt5keychain-dev,
 qt5-qmake,
 qt5-default,
 libqt5qml5 (>= 5.9.0),
 libqt5qml-graphicaleffects (>= 5.9.0) | qml-module-qtgraphicaleffects,
 qtdeclarative5-controls-plugin (>= 5.9.0) | qml-module-qtquick-controls,
 qtdeclarative5-dev (>= 5.9.0),
 libqt5quick5 (>= 5.9.0),
 qtmultimedia5-dev (>= 5.9.0),
 libqt5webkit5-dev (>= 5.1.0)
Standards-Version: 3.9.5
Homepage: https://github.com/Aseman-Land/QtAseman
Vcs-Git: https://github.com/Aseman-Land/QtAseman

Package: libqt5asemancore
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtCore Aseman tools, 
 It's free and released under the GPLv3 license.

Package: libqt5asemancore-dev
Section: libdevel
Architecture: any
Depends: libqt5asemancore (= ${binary:Version})
Description: QtCore Aseman tools development files, 
 It's free and released under the GPLv3 license.

Package: libqt5asemangui
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtGui Aseman tools, 
 It's free and released under the GPLv3 license.

Package: libqt5asemangui-dev
Section: libdevel
Architecture: any
Depends: libqt5asemangui (= ${binary:Version})
Description: QtGui Aseman tools development files, 
 It's free and released under the GPLv3 license.

Package: libqt5asemanwidgets
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtWidgets Aseman tools, 
 It's free and released under the GPLv3 license.

Package: libqt5asemanwidgets-dev
Section: libdevel
Architecture: any
Depends: libqt5asemanwidgets (= ${binary:Version})
Description: QtWidgets Aseman tools development files, 
 It's free and released under the GPLv3 license.

Package: libqt5asemannetwork
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtNetwork Aseman tools, 
 It's free and released under the GPLv3 license.

Package: libqt5asemannetwork-dev
Section: libdevel
Architecture: any
Depends: libqt5asemannetwork (= ${binary:Version})
Description: QtNetwork Aseman tools development files, 
 It's free and released under the GPLv3 license.

Package: libqt5asemangeo
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtGeo Aseman tools, 
 It's free and released under the GPLv3 license.

Package: libqt5asemangeo-dev
Section: libdevel
Architecture: any
Depends: libqt5asemangeo (= ${binary:Version})
Description: QtGeo Aseman tools development files, 
 It's free and released under the GPLv3 license.

Package: libqt5asemanmultimedia
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtMultimedia Aseman tools, 
 It's free and released under the GPLv3 license.

Package: libqt5asemanmultimedia-dev
Section: libdevel
Architecture: any
Depends: libqt5asemanmultimedia (= ${binary:Version})
Description: QtMultimedia Aseman tools development files, 
 It's free and released under the GPLv3 license.

Package: libqt5asemanqml
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtQml Aseman tools, 
 It's free and released under the GPLv3 license.

Package: libqt5asemanqml-dev
Section: libdevel
Architecture: any
Depends: libqt5asemanqml (= ${binary:Version})
Description: QtQml Aseman tools,  development files, 
 It's free and released under the GPLv3 license.

Package: qml-module-asemanbase
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 libqt5qml-graphicaleffects (>= 5.9.0) | qml-module-qtgraphicaleffects,
 qtdeclarative5-controls-plugin (>= 5.9.0) | qml-module-qtquick-controls
Description: QtQml Aseman Base components for the Qml, 
 It's free and released under the GPLv3 license.

Package: qml-module-asemanwidgets
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 qml-module-asemanbase
Description: QtQml Aseman Widgets components for the Qml, 
 It's free and released under the GPLv3 license.

Package: qml-module-asemannetwork
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtQml Aseman Network components for the Qml, 
 It's free and released under the GPLv3 license.

Package: qml-module-asemanmultimedia
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 qml-module-asemanbase
Description: QtQml Aseman Multimedia components for the Qml, 
 It's free and released under the GPLv3 license.

Package: qml-module-asemanviewport
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 qml-module-asemanbase
Description: QtQml Aseman Viewport components for the Qml, 
 It's free and released under the GPLv3 license.

Package: qml-module-asemanmodern
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 qml-module-asemanbase
Description: QtQml Aseman Modern components for the Qml, 
 It's free and released under the GPLv3 license.

Package: qml-module-asemancontrols
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 qml-module-asemanbase
Description: QtQml Aseman Controls components for the Qml, 
 It's free and released under the GPLv3 license.

Package: qml-module-asemanmodels
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 qml-module-asemanbase
Description: QtQml Aseman Models components for the Qml, 
 It's free and released under the GPLv3 license.

Package: qml-module-asemanawesome
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 qml-module-asemanbase
Description: QtQml Aseman Font Awesome components for the Qml, 
 It's free and released under the GPLv3 license.

Package: qml-module-asemanmaterial
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 qml-module-asemanbase
Description: QtQml Material font icons components for the Qml, 
 It's free and released under the GPLv3 license.

Package: qt5aseman
Section: libs
Architecture: any
Depends: libqt5asemancore (= ${binary:Version}),
 libqt5asemangui (= ${binary:Version}),
 libqt5asemanwidgets (= ${binary:Version}),
 libqt5asemannetwork (= ${binary:Version}),
 libqt5asemangeo (= ${binary:Version}),
 libqt5asemanmultimedia (= ${binary:Version}),
 libqt5asemanqml (= ${binary:Version}),
 qml-module-asemanbase, qml-module-asemanwidgets,
 qml-module-asemanmultimedia, qml-module-asemanawesome,
 qml-module-asemanmaterial, qml-module-asemanmodern,
 qml-module-asemancontrols, qml-module-asemanviewport,
 qml-module-asemannetwork, qml-module-asemanmodels
Description: Qt Aseman full package, 
 It's free and released under the GPLv3 license.

Package: qt5aseman-dev
Section: libdevel
Architecture: any
Depends: libqt5asemancore-dev (= ${binary:Version}),
 libqt5asemangui-dev (= ${binary:Version}),
 libqt5asemanwidgets-dev (= ${binary:Version}),
 libqt5asemannetwork-dev (= ${binary:Version}),
 libqt5asemangeo-dev (= ${binary:Version}),
 libqt5asemanmultimedia-dev (= ${binary:Version}),
 libqt5asemanqml-dev (= ${binary:Version}),
 qt5aseman (= ${binary:Version})
Description: Qt Aseman full development package, 
 It's free and released under the GPLv3 license.
