Source: qtaseman
Section: libs
Priority: optional
Maintainer: Aseman Team <contact@aseman.co>
Build-Depends:
 debhelper (>= 8.0.0),
 g++ (>= 4:4.7),
 gcc (>= 4:4.7),
 qtbase5-dev (>= 5.9.0),
 libqt5sql5-sqlite (>= 5.9.0),
 libqt5multimediaquick-p5 (>= 5.9.0),
 libqt5multimedia5-plugins (>= 5.9.0),
 libqt5multimedia5 (>= 5.9.0),
 qtpositioning5-dev (>= 5.9.0),
 libqt5sensors5-dev (>= 5.9.0),
 qtchooser,
 qt5keychain-dev,
 qt5-qmake,
 qt5-default,
 libqt5qml5 (>= 5.9.0),
 libqt5qml-graphicaleffects (>= 5.9.0) | qml-module-qtgraphicaleffects,
 qtdeclarative5-controls-plugin (>= 5.9.0) | qml-module-qtquick-controls,
 qtdeclarative5-dev (>= 5.9.0),
 libqt5quick5 (>= 5.9.0),
 qtmultimedia5-dev (>= 5.9.0),
 libqt5webkit5-dev (>= 5.1.0)
Standards-Version: 3.9.5
Homepage: https://github.com/Aseman-Land/QtAseman
Vcs-Git: https://github.com/Aseman-Land/QtAseman

Package: libqt5asemancore
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtCore Aseman tools, 
 It's free and released under the GPLv3 license.
